<!-- <section class="space-top"> 
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12">
                <h4 class="align-center pb-2">
                    Sample Angular App
                </h4>
                <h6 class="align-center">
                    Please enter a text
                </h6>
            </div>
        </div> 
        <div class="row py-2 justify-content-center">
            <div class="col-12 col-lg-6  col-md-8 " data-form-type="formoid"> 
                <div class="mbr-subscribe input-group">
                    <input autocomplete="off" class="form-control" type="email" name="email" placeholder="Email" data-form-field="Email" required="" id="email-form3-4u">
                    <span class="input-group-btn">
                        <button href="" type="submit" class="subscribe btn btn-primary  display-4">SUBSCRIBE</button>
                    </span>
                </div>
             </div> 
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 col-md-8"> 
                <ul class="listitem">
                    <li></li>
                </ul>
             </div>
        </div>
    </div>
</section> -->
<section class="space-top"> 
        <div class="container">
           
            <app-cockpit 
            (listItemAdded)="onListItemAdded($event)"
            [selectedText]="selectedText" 
            (listItemEdited)="OnListItemEdited($event)"
            [message]="message"
            ></app-cockpit>
            <app-server-element 
            *ngFor="let serverItem of listData"
            [litem]="serverItem"
            (listItemDeleted)="OnListItemDeleted($event)" 
            (selectEditItemBox) ="OnListItemSelected($event)"
            (moveListItem) ="OnMoveListItem($event)"
            ></app-server-element>
        </div>
        <app-server-child
*ngFor="let childItem of listDataChild"
[litemchild]="childItem"
></app-server-child>
      </section>
      