<div class="container">
    <div class="row">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" 
            class="form-control" 
            id="username" name="username"
            [(ngModel)]="userName">
        </div> 
        <button type="button" 
        class="btn btn-default"
        (click) = clearUserName()
        [disabled]="userName===''">Clear</button>
    </div> 
    <p>{{userName}}</p>
</div> 