<div class="row">
  <div class="col-12 col-lg-12">
      <h4 class="align-center pb-2">
          Sample Angular App
      </h4>
      <h6 class="align-center">
          Please enter a text
      </h6>
  </div>
</div> 
<div class="row py-2 justify-content-center">
  <div class="col-12 col-lg-6  col-md-8 " data-form-type="formoid"> 
      <div class="mbr-subscribe input-group">
          <input value="{{selectedText}}" #itemBox autocomplete="off" class="form-control" type="email" name="email" placeholder="Email" data-form-field="Email" required="" id="email-form3-4u">
          <span class="input-group-btn">
              <button *ngIf="!selectedText; else showupdate" (click)="onSaveItem(itemBox.value)" href="" type="submit" class="subscribe btn btn-primary  display-4">Add</button>
              <ng-template #showupdate>
                      <button (click)="onEditItem(selectedText,itemBox.value)" href="" type="submit" class="subscribe btn btn-primary  display-4">Update</button>
                      <button (click)="clear()" href="" type="submit" class="subscribe btn btn-primary  display-4">Clear</button> 
              </ng-template>  
          </span>
      </div>
   </div>
   <span>{{message}}</span> 
</div>