<div class="row">
    <div class="col-12 col-lg-12"> 
        <ul class="listitem">
            <li
            [ngStyle] = "{backgroundColor: idx % 2 === 0 ? 'blue' : '#dc3545'}"
            [ngClass] = "{foreColorEven: idx % 2 === 0, foreColorOdd: idx % 2 !== 0}"   
            >
                {{litemchild.name}} 
  
                <!-- <button  (click)="deleteItem(litem.name)">delete</button>
                <button  (click)="selectEditItem(litem.name)">edit</button> -->
            </li>
        </ul>
     </div>
  </div>