/* You can add global styles to this file, and also import other style files */
.align-center{text-align: center;}
.space-top{margin-top: 20px;}
.subscribe{margin-left:5px;}
.listitem{list-style-type: none;display: block;}